
body {
    background-color: #565a5c;
}

#content {
    background-color: #ffffff;
    border: 2px solid black;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
}

#logo {
    margin: 50px auto;
    display: block;
}

.card:nth-child(odd) .card-header {
    background-color: #F5F5F5;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}